[Unit]
Description=IRC bot for #forrst-chat
After=postgresql.service

[Service]
WorkingDirectory=/home/hermes/hermes
ExecStart=/usr/bin/bundle exec ruby bin/hermes
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=hermes

[Install]
WantedBy=multi-user.target
